<button type="button" class="btn btn-primary btn-lg" (click)="isShowTable = true">Show Table</button>
<div>
    <div class="fixed inset-0 z-[51] hidden bg-[black]/60 px-4 transition-[display]" [ngClass]="{ '!block': isShowTable }" (click)="isShowTable = false"></div>
    <nav
        class="fixed bottom-0 top-0 z-[51] w-full max-w-[800px] bg-white p-4 shadow-[5px_0_25px_0_rgba(94,92,154,0.1)] transition-[right] duration-300 ltr:-right-[800px] rtl:-left-[800px] dark:bg-[#0e1726]"
        [ngClass]="{ 'ltr:!right-0 rtl:!left-0': isShowTable }"
    >
        <a
            href="javascript:;"
            class="absolute bottom-0 top-0 my-auto flex h-10 w-12 cursor-pointer items-center justify-center bg-lime-600 text-white ltr:-left-12 ltr:rounded-bl-full ltr:rounded-tl-full rtl:-right-12 rtl:rounded-br-full rtl:rounded-tr-full"
            (click)="isShowTable = !isShowTable"
        >
            <icon-dollar-sign-circle class="h-5 w-5 animate-[spin_3s_linear_infinite]" />
        </a>
        <ng-scrollbar class="relative h-full overflow-x-hidden ltr:-mr-3 ltr:pr-3 rtl:-ml-3 rtl:pl-3">
            <div class="flex flex-col content-between">
                <!--Header-->
                <div>
                    <div class="relative rounded bg-lime-600 py-3 text-center font-bold">
                        <h1 class="text-3xl text-white">Table No.1</h1>
                    </div>
                </div>
                <!--Table-->
                <div class="table-responsive py-10">
                    <table class="table-fixed">
                        <thead>
                            <tr class="text-center text-lg font-bold">
                                <th>Code</th>
                                <th>Items</th>
                                <th>Qty</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of tableData">
                                <td class="text-lg">{{ data.code }}</td>
                                <td class="whitespace-break-spaces text-lg">{{ data.item }}</td>
                                <td class="rounded bg-lime-600 text-center text-lg font-bold text-white">
                                    {{ data.qty }}
                                </td>
                                <td class="text-lg">{{ data.price * data.qty }}<span class="ml-1">kc</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--Footer-->
                <div class="rounded bg-black-light p-5">
                    <div class="my-3 flex justify-between">
                        <h3 class="m-0 text-base font-bold text-slate-950">Sub Total</h3>
                        <h3 class="m-0 text-base font-bold text-lime-600 dark:text-white-dark">10000<span class="ml-1">kc</span></h3>
                    </div>
                    <div class="my-3 flex justify-between">
                        <h3 class="text-base font-bold text-slate-950">Discount</h3>
                        <h3 class="text-base font-bold text-lime-600 dark:text-white-dark">0<span class="ml-1">kc</span></h3>
                    </div>
                    <div class="my-8 flex justify-evenly">
                        <h3 class="text-2xl font-bold text-slate-950">Total Payment</h3>
                        <h3 class="text-2xl font-bold text-lime-600">10000<span class="ml-1">kc</span></h3>
                    </div>
                    <div class="flex w-full flex-wrap justify-around gap-3">
                        <button type="button" class="btn btn-danger btn-lg" (click)="isShowTable = false"><icon-x class="mr-3 h-5 w-5" />Cancel</button>
                        <button type="button" class="btn btn-lg btn-primary"><icon-edit class="mr-3 h-5 w-5" />Add Items</button>
                        <button type="button" class="btn btn-lg btn-info" (click)="showPayment()"><icon-cash-banknotes class="mr-3 h-5 w-5" />Pay All</button>
                        <button type="button" class="btn btn-lg btn-info"><icon-users-group class="mr-3 h-5 w-5" />Pay Share</button>
                    </div>
                </div>
            </div>
        </ng-scrollbar>
    </nav>
</div>
